.schedule-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    flex-grow: 1;
}

.schedule-grid-wrapper { /* purely so that .schedule-login-overlay fills .schedule when applying inset: 0*/
    position: relative;
}

.schedule {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    --block-height: 60px;
    --block-width: 120px;
    --timeblock-height: 15px;
}

.schedule-column:after {
    clear: both;
    content: '';
}

.schedule-title {
    text-align: center;
    
    user-select: text; /* prevents not being able to select text*/
}

.schedule-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 2rem;
}

.titleblock {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: var(--block-width);
    height: var(--block-height);
    background-color: var(--background-color-glass);
    color: var(--font-color);
    border: 1px solid black;
    font-weight: bold;
    
    user-select: text; /* prevents not being able to select text*/
}

.emptyblock {
    box-sizing: border-box;
    width: var(--block-width);
    height: var(--block-height);
    border: none;
}

