.selector-add {
    font-family: var(--font-family);
    background-color: rgba(0, 0, 0, 0.1);

    border: 2px solid var(--border-color);
    padding: 4px 1rem;
}

.selector-button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.selector-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.selector-form-element {
    height: 23px;
    min-width: 25px;
    padding: 1px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
}

.selector-form-submit {
    height: 23px;
    width: 20px;
}

.selector-form-input {
    font-family: JetBrainsMono, monospace;
    margin: 0 1rem;
    padding: 2px 8px;
    color: var(--font-color);
    background: rgba(0, 0, 0, 0.25);
}

.selector-form-input:focus {
    outline: none;
}

.selector-form-color {
    margin: 0 1rem;
    background-color: white;
}


.selector-form-color:hover {
    cursor: pointer;
    z-index: 1;
}
